


#header_text {
    background-color: black;
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 20px;
}

#header_text i {
    color:red;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    padding-right: 33px;
    font-size: 56px;
}

.mandatory {
    color: red;
}

#form_div {
    background-color: bisque;
    text-align: center;
    width: auto;
}

#header_div {
    text-align: center;
}

#results {
    color: red;
    font-style: bold;
    text-decoration: underline;
    text-align: center;
    margin:auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(223, 220, 220);
    margin-top: 40px;
}

td, th {
    border: 2px solid black;
    text-align: center;
    font-size: large;
}

td label {
    font-size: x-large;
}

#fav_bttn {
    background-color: white;
    color: black;
}

.fav_bttn:hover {
    background-color: rgb(3, 102, 173);
    color: white;
    transform: scale(1.09);
}

#bod_div2 h3 {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

.footer {
    background-color: black;
    color: white;
}

#footer_text {
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}