#header_text {
    background-color: black;
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 20px;
}

#header_text i {
    color:red;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
    padding-right: 33px;
    font-size: 56px;
}

.mandatory {
    color: red;
}

#form_div {
    background-color: bisque;
    text-align: center;
    width: auto;
}

#header_div {
    text-align: center;
}

#results {
    color: red;
    font-style: bold;
    text-decoration: underline;
    text-align: center;
    margin:auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(223, 220, 220);
    margin-top: 40px;
}

td, th {
    border: 2px solid black;
    text-align: center;
    font-size: large;
}

.footer {
    background-color: black;
    color: white;
    height: 30px;
}

#footer_text {
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}